
:root {
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;

  /* 定义颜色变量 */
  --bgc: #F7F9FE;

  --white: #ffffff;
  --white-op16: rgba(255, 255, 255, 0.16);
  --white-op80: rgba(255, 255, 255, 0.80);
  
  --text-1:#222222;
  --text-2:#666666;
  --text-3:#999999;
  
  --blue:#3950EC;
  --blue-op90:rgba(87, 107, 241, 0.9);
  --blue-op20:rgba(87, 107, 241, 0.2);

  --box-shadow: 0px 0px 20px rgba(66, 90, 239, 0.08);

  --border:#E3E8F7;

}

*{
  /* 清除box样式 */
  box-sizing: border-box;

}

a {
  text-decoration: inherit;
  color: var(--text-1);
}


body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bgc);
  position: relative;
}

/* 清除标题样式 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  /* 清除样式 */
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    /* color: #213547; */
    background-color: var(--white);
  }

  a:hover {
    color: #747bff;
  }

  button {
    /* background-color: #fff; */
  }
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 8px;
  height: 0rem;
}

/* 滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background-color: rgb(0, 0, 0, 0.2);
}

/* 隐藏轨道 */
::-webkit-scrollbar-track {
  background-color: transparent;
}